<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="description" content="<%= @description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "fuel/application", media: "all" %>
    <script src="//use.typekit.net/nti1hfq.js"></script>
    <script async>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= controller_name %>-controller <%= action_name %>-action">
    <%= render partial: 'fuel/components/navbar' %>
    <main role="main" aria-label="main-content" class="<%= controller_name -%> <%= action_name -%> navbar-offset">
      <%= yield %>
    </main>
    <%= javascript_include_tag "fuel/application" %>
    <%= javascript_include_tag "application" %>
    <script>
    $(function() {
      $body = $("body");

      if ($("body").hasClass("posts-controller")){
         var editor = new wysihtml5.Editor("fuel_post_content", { // id of textarea element
            toolbar:      "toolbar", // id of toolbar element
            parserRules:  wysihtml5ParserRules,
         });
      };
    });
    </script>
  </body>
</html>