<div class="fuel fuel-posts">
  <div class="tagline">
    <h1 class="tagline"><%= link_to @blog_title, fuel_engine.blog_root_path %></h1>
  </div>

  <% if @posts %>
    <section class="posts">
      <%= paginate @posts %>
      <% @posts.each do |post| %>
        <article class="fuel-post fuel-post-index">
          <h2 class="fuel-post-title"><%= link_to post.title, fuel_engine.fuel_post_path(post) %></h2>
          <%= render 'additional_info', post: post %>
          <% if post.featured_image_file_name.present? || post.featured_image_url.present? %>
            <div class="image-area">
              <%= image_tag post.prioritized_featured_image_url(:medium) %>
            </div>
          <% end %>
          <%= render "fuel_posts/post", post: post %>
        </article>
      <% end %>
    </section>
  <% else %>

  <% end %>
</div>
