<div class="slider">
  <ul class="slider-options">
    <li class="slider-link is-active-link">
      <i class="icon--download"></i>
      <h5 class="inverse title">Download &amp; install</h5>
      <p class="inverse">Add the gem to your Gemfile or download it from Github.</p>
      <%= image_tag 'ui/download-img.png', class: 'slider-item--image' %>
    </li>
    <li class="slider-link">
      <i class="icon--create"></i>
      <h5 class="inverse title">Create &amp; Edit Content</h5>
      <p class="inverse">Login to your blog's admin panel without any additional setup and start creating new posts with one click.</p>
      <%= image_tag 'ui/create-img.png', class: 'slider-item--image' %>
    </li>
    <li class="slider-link">
      <i class="icon--publish"></i>
      <h5 class="inverse title">Publish Content</h5>
      <p class="inverse">Select a publish date, an author and let Fuel take care of the rest.</p>
      <%= image_tag 'ui/publish-img.png', class: 'slider-item--image' %>
    </li>
  </ul>
  <div class="slider--triggers">
    <% link_to '#', id: 'slider--trigger__prev', class: 'trigger' do %>
      <%= image_tag 'icons/arrow-icon-prev.svg' %>
    <% end %>
    <% link_to '#', id: 'slider--trigger__next', class: 'trigger' do %>
      <%= image_tag 'icons/arrow-icon-next.svg' %>
    <% end %>
  </div>
</div>