<%= form_for @post, url: @url, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert--warning">
      <p class="alert--content"><%= @post.errors.full_messages.to_sentence %></h2></p>
      <%= link_to '#', class: 'alert--trigger' do %>
        <%= embedded_svg 'icons/alert-icon.svg', class: 'alert--close-icon' %>
      <% end %>
    </div>
  <% end %>
  <fieldset class="fieldset">
    <div class="half-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="half-group">
      <%= f.label :author_id %>
      <%= f.select :author_id, options_from_collection_for_select(Fuel::Author.all, :id, :full_name, @post.author_id) %>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <div class="half-group">
      <%= f.label :teaser, 'Post Tease' %>
      <%= f.text_area :teaser, class: 'tease' %>
    </div>
    <div class="half-group last">
      <%= f.label :tag %>
      <%= f.select :tag, options_for_select(Fuel.configuration.tags, @post.tag) %>
    </div><br>
    <div class="half-group last">
      <%= f.label :featured_image, "Featured Image" %>
      <%= f.file_field :featured_image %>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <%= f.label :content, 'Your Post' %>
    <%= f.text_area :content, class: 'post' %>
  </fieldset>
  <fieldset class="fieldset">
    <div class="third-group">
      <%= f.label :published, 'Published' %>
      <%= f.select :published, options_for_select({"Yes" => true, "No" => false}, @post.is_published) %>
    </div>
    <div class="third-group" id="publishedAtGroup" style="<%= hide_published_at(@post) %>">
      <%= f.label :published_at, 'Published At' %>
      <%= f.text_field :published_at, data: { value: (@post.published_at || DateTime.now).strftime("%m/%d/%Y") }, class: 'datepicker', disabled: !@post.is_published %>
    </div>
    <div class="third-group">
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <%= f.submit (action_name == "edit" ? "Update Blog Post" : "Create Blog Post"), class: 'button button--primary' %>
  </fieldset>
<% end %>