<%= form_for @post, url: @url, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert--warning">
      <p class="alert--content"><%= @post.errors.full_messages.to_sentence %></h2></p>
      <%= link_to '#', class: 'alert--trigger' do %>
        <%= embedded_svg 'icons/alert-icon.svg', class: 'alert--close-icon' %>
      <% end %>
    </div>
  <% end %>
  <div class="form-container--left">
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :author_id %>
        <%= f.select :author_id, options_from_collection_for_select(Fuel::Author.all, :id, :full_name, @post.author_id) %>
      </div>
      <div class="form-group-half">
        <%= f.label :tag %>
        <%= f.select :tag, options_for_select(Fuel.configuration.tags, @post.tag) %>
      </div>
    </fieldset>
    <fieldset>
      <div class="half-group">
        <%= f.label :published, 'Published' %>
        <%= f.select :published, options_for_select({"Yes" => true, "No" => false}, @post.is_published) %>
      </div>
      <div class="half-group" id="publishedAtGroup" style="<%= hide_published_at(@post) %>">
        <%= f.label :published_at, 'Published At' %>
        <%= f.text_field :published_at, data: { value: (@post.published_at || DateTime.now).strftime("%m/%d/%Y") }, class: 'datepicker', disabled: !@post.is_published %>
      </div>
    </fieldset>
    <fieldset>
      <%= f.label :teaser, 'Post Tease' %>
      <%= f.text_area :teaser, class: 'tease' %>
    </fieldset>
  </div>
  <div class="form-container--right card">
    <%= f.label :featured_image, 'Featured Image' %>
    <div class="card-image card-image--featured_image">
      <%= image_tag @post.featured_image.url(:medium) %>
    </div>
    <%= f.file_field :featured_image %>
  </div>
  <div class="form-container--full">
    <fieldset>
      <%= f.label :content, 'Your Post' %>
      <div id="toolbar" style="display: none;">

        <a data-wysihtml5-command="bold" title="CTRL+B"><i class="fa fa-bold"></i></a>
        <a data-wysihtml5-command="italic" title="CTRL+I"><i class="fa fa-italic"></i></a>
        <a data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a>
        <a data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></a>
        <a data-wysihtml5-command="createLink"><i class="fa fa-link"></i></a>
        <a data-wysihtml5-command="removeLink"><i class="fa fa-chain-broken"></i></a>
        <a data-wysihtml5-command="insertImage"><i class="fa fa-image"></i></a>
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><i class="fa fa-header"></i></a>
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><i class="fa fa-paragraph"></i></a>
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><i class="fa fa-quote-left"></i></a>
        <a data-wysihtml5-command="formatCode" data-wysihtml5-command-value="language-html"><i class="fa fa-code"></i></a>
        <a data-wysihtml5-command="undo"><i class="fa fa-undo"></i></a>
        <a data-wysihtml5-action="change_view">HTML</a>


        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label>
            Link:
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
          <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;">
          <label>
            Image:
            <%= file_field_tag :image, id: "image-upload", data: { path: fuel.admin_posts_image_path }  %>
            <input data-wysihtml5-dialog-field="src" value="http://">
          </label>
          <label>
            Align:
            <select data-wysihtml5-dialog-field="className">
              <option value="">default</option>
              <option value="wysiwyg-float-left">left</option>
              <option value="wysiwyg-float-right">right</option>
            </select>
          </label>
          <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>

      </div>
      <%= f.text_area :content, class: 'post' %>
    </fieldset>
    <fieldset>
      <%= f.submit (action_name == "edit" ? "Update Post" : "Create Post"), class: 'button button--secondary' %>
      <% if @post.id %>
        <%= link_to 'Delete Post', fuel.admin_post_path(@post), method: :delete, confirm: "Are you sure you want to delete this post?", class: "delete-post button button--danger" %>
      <% end %>
    </fieldset>
  </div>
<% end %>