<%= form_for @post, url: @url, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert--warning">
      <p class="alert--content"><%= @post.errors.full_messages.to_sentence %></h2></p>
      <%= link_to '#', class: 'alert--trigger' do %>
        <%= embedded_svg 'fuel/icons/alert-icon.svg', class: 'alert--close-icon' %>
      <% end %>
    </div>
  <% end %>
  <div class="form-container--left">
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :author_id %>
        <%= f.select :author_id, options_from_collection_for_select(Fuel::Author.all, :id, :full_name, @post.author_id) %>
      </div>
      <div class="form-group-half">
        <%= f.label :tag %>
        <%= f.select :tag, options_for_select(Fuel.configuration.tags, @post.tag) %>
      </div>
    </fieldset>
    <fieldset>
      <div class="half-group">
        <%= f.label :published, 'Published' %>
        <%= f.select :published, options_for_select({"Yes" => true, "No" => false}, @post.is_published) %>
      </div>
      <div class="half-group" id="publishedAtGroup" style="<%= hide_published_at(@post) %>">
        <%= f.label :published_at, 'Published At' %>
        <%= f.text_field :published_at, data: { value: (@post.published_at || DateTime.now).strftime("%m/%d/%Y") }, class: 'datepicker', disabled: !@post.is_published %>
      </div>
    </fieldset>
    <fieldset>
      <%= f.label :teaser, 'Post Tease' %>
      <%= f.text_area :teaser, class: 'tease' %>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :format %>
        <%= f.select :format, options_for_select(format_options, selected: f.object.format) %>
      </div>
    </fieldset>
  </div>
  <div class="form-container--right card">
    <%= f.label :featured_image, 'Featured Image' %>
    <div class="card-image card-image--featured_image">
      <%= image_tag @post.featured_image.url(:medium) || 'fuel/default-img.jpg' %>
    </div>
    <%= f.file_field :featured_image %>
  </div>
  <div class="form-container--full">
    <fieldset class="editor-area" data-format="html">
      <%= f.label :content, 'Your Post' %>
      <ul id="editor" style="display: none;">
        <li class="editor-button" data-wysihtml5-command="bold" title="CTRL+B"><i class="fa fa-bold"></i></li>
        <li class="editor-button" data-wysihtml5-command="italic" title="CTRL+I"><i class="fa fa-italic"></i></li>
        <li class="editor-button" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></li>
        <li class="editor-button" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></li>
        <li class="editor-button" data-wysihtml5-command="createLink"><i class="fa fa-link"></i></li>
        <li class="editor-button" data-wysihtml5-command="insertImage"><i class="fa fa-image"></i></li>
        <li class="editor-button" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><i class="fa fa-header"></i></li>
        <li class="editor-button" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><i class="fa fa-paragraph"></i></li>
        <li class="editor-button" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote"><i class="fa fa-quote-left"></i></li>
        <li class="editor-button" data-wysihtml5-command="formatCode" data-wysihtml5-command-value="language-html"><i class="fa fa-code"></i></li>
        <li class="editor-button" data-wysihtml5-command="undo"><i class="fa fa-undo"></i></li>
        <li class="editor-button" data-wysihtml5-action="change_view">HTML</li>

        <div data-wysihtml5-dialog="createLink" style="display: none;" class="card card__fixed">
          <fieldset class="small">
            <label>Link URL:</label>
            <input data-wysihtml5-dialog-field="href" value="http://">
          </fieldset>
          <fieldset class="margin--clear right">
            <a data-wysihtml5-dialog-action="save" class="save-link button button--primary button--small margin--clear">Insert</a>
          </fieldset>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;" class="card card__fixed">
          <fieldset class="small">
            <div class="half-group">
              <label> Upload Image: <%= file_field_tag :image, id: "image-upload", class: "directUpload"  %> </label>
            </div>
            <div class="half-group">
              <label> Or Image URL: <input data-wysihtml5-dialog-field="src" value="http://" id="imageUrl"> </label>
            </div>
          </fieldset>
          <fieldset class="small">
            <label>
              Align:
              <select data-wysihtml5-dialog-field="className">
                <option value="">default</option>
                <option value="wysiwyg-float-left">left</option>
                <option value="wysiwyg-float-right">right</option>
              </select>
            </label>
          </fieldset>
          <fieldset class="right margin--clear">
            <a data-wysihtml5-dialog-action="save" class="save-link button button--primary button--small margin--clear">Insert</a>
            <a data-wysihtml5-dialog-action="cancel" class="button button--danger button--small margin--clear">Cancel</a>
          </fieldset>
        </div>
      </ul>
      <%= f.text_area :content, class: 'post', id: "fuel_post_content_html" %>
    </fieldset>
    <fieldset class="editor-area" data-format="markdown">
      <%= f.label :content, 'Your Post' %>
      <%= f.text_area :content, value: f.object.raw_content, class: 'post', id: "fuel_post_content_markdown" %>
      <div class="preview-link-area">
        <%= link_to 'Preview Post', '#', class: "trigger-preview preview--link", data: { url: fuel.admin_posts_preview_path } %>
      </div>
    </fieldset>
    <fieldset>
      <%= f.submit (action_name == "edit" ? "Update Post" : "Create Post"), class: 'button button--secondary' %>
      <% if @post.id %>
        <%= link_to 'Delete Post', fuel.admin_post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "delete-post button button--danger" %>
      <% end %>
    </fieldset>
  </div>
<% end %>