<!doctype html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title><%= current_page.data.title || "Fuel By LaunchPad Lab" %></title>
    <%= favicon_tag 'favicon.png' %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application" %>

    <!-- Fonts -->
    <script src="//use.typekit.net/nti1hfq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= page_classes %>">
    <%= partial 'components/topbar' %>
    <main class="view" role="main">
      <%= yield %>
    </main>
    <%= javascript_include_tag  "application" %>
  </body>
</html>