<%= form_for @author, url: @url, html: { multipart: true } do |f| %>
  <% if @author.errors.any? %>
    <div class="alert alert--warning">
      <p class="alert--content"><%= @author.errors.full_messages.to_sentence %></h2></p>
      <%= link_to '#', class: 'alert--trigger' do %>
        <%= embedded_svg 'fuel/icons/alert-icon.svg', class: 'alert--close-icon' %>
      <% end %>
    </div>
  <% end %>
  <div class="form-container--left">
    <fieldset>
      <div class="form-group-half">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
      <div class="form-group-half">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group-half">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, data: { value: @author.start_date.try(:strftime, "%m/%d/%Y") }, class: 'datepicker' %>
      </div>
    </fieldset>
    <fieldset>
      <%= f.label :bio, 'Author Bio' %>
      <%= f.text_area :bio %>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "ryan@example.com" %>
      </div>
      <div class="form-group-half">
        <%= f.label :twitter %>
        <%= f.text_field :twitter, placeholder: "ryan_p_francis" %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :github %>
        <%= f.text_field :github, placeholder: "francirp" %>
      </div>
      <div class="form-group-half">
        <%= f.label :dribbble %>
        <%= f.text_field :dribbble, placeholder: "ryan_p_francis" %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :instagram %>
        <%= f.text_field :instagram, placeholder: "francirp" %>
      </div>
      <div class="form-group-half">
        <%= f.label :medium %>
        <%= f.text_field :medium, placeholder: "ryan_p_francis" %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group-half">
        <%= f.label :personal_site %>
        <%= f.text_field :personal_site, placeholder: "http://mypersonalsite.com" %>
      </div>
      <div class="form-group-half">
        <%= f.label :linkedin %>
        <%= f.text_field :linkedin, placeholder: "ryanpfrancis" %>
      </div>
    </fieldset>
    <fieldset>
      <%= f.label :is_active, "Active?" %>
      <%= f.check_box :is_active %>
    </fieldset>
    <fieldset class="fieldset">
      <%= f.submit class: 'button button--secondary' %>
      <% if @author.id %>
        <%= link_to 'Delete Author', fuel.admin_author_path(@author), method: :delete, data: { confirm: "Are you sure you want to delete #{@author.full_name}?" }, class: "delete-post button button--danger" %>
      <% end %>
    </fieldset>
  </div>
  <div class="form-container--right card">
    <%= f.label :avatar, 'Updated Author Picture' %>
    <div class="card-image card-image--avatar">
      <%= image_tag @author.avatar.url || 'fuel/default-img.jpg' %>
    </div>
    <%= f.file_field :avatar %>
  </div>
<% end %>
