<div class="fuel-post-additional-info">
  <!-- <span class="fuel_post_date"><%= post.created_at.strftime('%b %d, %Y') %> - </span> -->
  <span class="fuel-post-author">By <%= post.author %></span>
  <span class="fuel-social-buttons">
    <%= render 'tweet', post: post if action_name == "show" && Fuel.configuration.twitter %>
  </span>
</div>
<% if action_name == "show" %>
  <div class="fuel-post-content">
    <%= markdown(post.content).html_safe %>
  </div>
<% else %>
  <div class="fuel-post-content">
    <%= markdown(truncate post.content, length: 800).html_safe %>
  </div>
  <% if post.content.length > 800 %>
    <p><%= link_to 'Read more', post_url(post) %></p>
  <% end %>
<% end %>
