<% content_for :social_meta_tags do %>
  <meta property="og:image" content="<%= @post.prioritized_featured_image_url %>"/>
  <meta property="og:title" content="<%= @post.title %>"/>
  <meta property="og:url" content="<%= fuel.post_url(@post) %>"/>
  <meta property="og:site_name" content="<%= Fuel.configuration.site_name %>"/>
  <meta property="og:type" content="Website"/>
<% end %>

<div class="fuel fuel-posts">
  <div class="tagline">
    <h1 class="tagline"><%= link_to @blog_title, fuel.blog_root_path %></h1>
  </div>
  <article class="fuel-post fuel-post-show">
    <h2 class="fuel-post-title"><%= @post.title %></h2>
    <div class="fuel-post-additional-info">
      <span class="fuel_post_date"><%= @post.created_at.strftime('%b %d, %Y') %> - </span>
      <span class="fuel-post-author">By <%= @post.author %></span>
      <span class="fuel-social-buttons">
        <%= render 'tweet', post: @post if Fuel.configuration.twitter %>
      </span>
    </div>
    <div class="fuel-post-content">
      <%= markdown(@post.content).html_safe %>
    </div>
  </article>
  <div class="disqus-area">
    <%= render 'disqus' if @disqus_name %>
  </div>
</div>
