<% content_for :social_meta_tags do %>
  <meta property="og:image" content="<%= @post.prioritized_featured_image_url %>"/>
  <meta property="og:title" content="<%= @post.title %>"/>
  <meta property="og:url" content="<%= fuel.post_url(@post) %>"/>
  <meta property="og:site_name" content="<%= Fuel.configuration.site_name %>"/>
  <meta property="og:type" content="Website"/>
<% end %>

<div class="fuel fuel-posts">
  <div class="tagline">
    <h1 class="tagline"><%= link_to @blog_title, fuel.blog_root_path %></h1>
  </div>
  <article class="fuel-post fuel-post-show">
    <h2 class="fuel-post-title"><%= @post.title %></h2>
    <%= render 'post', post: @post %>
  </article>
  <div class="disqus-area">
    <%= render 'disqus' if @disqus_name %>
  </div>
</div>
